@use 'base';

button {
  -moz-box-shadow: base.$box-shadow;
  -webkit-box-shadow: base.$box-shadow;
  background-color: #f5edf2;
  border-radius: base.$spacing-lg;
  border: 1px solid #9d6e8e;
  box-shadow: base.$box-shadow;
  color: #9d6e8e;
  cursor: pointer;
  font-family: 'Fredoka';
  font-weight: bolder;
  margin: 0 auto;
  min-height: base.$minimum-target-size;
  min-width: base.$minimum-target-size;
  padding: base.$spacing-md base.$spacing-xl;
  transition: 0.2s all ease-in-out;

  &:hover, &:focus {
    background-color: #9d6e8e;
    color: white;
  }

  &:active {
    box-shadow: none;
    transform: translateY(1px) scale(0.99);
  }
}
