@use 'base';
@use 'button';

header {
  font-weight: 900;
  padding: 10px 0rem 40px;
}

footer {
  padding: 10px 0rem 40px;
  width: 100%;

  section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .input-with-label {
      display: flex;
      flex-direction: column;
      gap: 5px;

      &:first-of-type {
        width: 50%;
      }

      label {
        font-size: 1rem;
        font-weight: 900;
      }

      input {
        font-size: 1rem;
        padding: 8px 12px;
      }

      textarea {
        font-family: var(--font-family);
        font-size: 1rem;
        padding: 8px 12px;
        resize: vertical;
      }
    }
  }
}
