@use 'base';
@use 'button';

header {
  font-weight: lighter;
  padding: base.$spacing-md 0 base.$spacing-xl;
}

footer {
  background-color: #d2becc;
  border-radius: base.$spacing-lg;
  color: base.$primary-dark-color;
  margin: base.$spacing-lg 0 base.$spacing-xl;
  padding: base.$spacing-sm base.$spacing-lg base.$spacing-xl;
  width: 100%;

  h4 {
    margin-top: 1.4rem;
    margin-bottom: 1.6rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: base.$spacing-xl;

    .input-with-label {
      display: flex;
      flex-direction: column;
      gap: base.$spacing-sm;

      &:first-of-type {
        width: 50%;
      }

      label {
        font-size: 1rem;
        font-weight: lighter;
      }

      input {
        border: 1px solid transparent;
        border-radius: base.$spacing-md;
        font-size: 1rem;
        font-weight: lighter;
        padding: base.$spacing-md base.$spacing-lg;
      }

      textarea {
        border: 1px solid transparent;
        border-radius: base.$spacing-md;
        font-family: var(--font-family);
        font-size: 1rem;
        padding: base.$spacing-md base.$spacing-lg;
        resize: vertical;
        min-height: 4rem;
      }
    }
  }
}
