---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
const description = "Desc added";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>

  <p>{description}</p>
</BaseLayout>
