---
import "../styles/global.scss";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  frontmatter: {
    pageTitle: string;
    heading: string;
    subHeading: string;
    blogHeading: string;
  };
}

const { frontmatter } = Astro.props;
---

<BaseLayout frontmatter={frontmatter}>
  <h1>{frontmatter.heading}</h1>

  <h5>{frontmatter.subHeading}</h5>

  <h2>{frontmatter.blogHeading}</h2>

  <ul>
    <li>Blog Post Card Here</li>
  </ul>
</BaseLayout>
